<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group04.studentaide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StudentAide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivityGuest"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistrationEducator"
            android:parentActivityName=".Registration" />
        <activity
            android:name=".StudySessionPlan"
            android:parentActivityName=".StudySession" />
        <activity
            android:name=".StudySession"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StudyStatistics"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseCreation"
            android:parentActivityName=".CoursesActivity" />
        <activity
            android:name=".CoursesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalendarActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Registration"
            android:parentActivityName=".LoginActivityGuest" />
        <activity
            android:name=".LoadingScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
